* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
    size: 100%;
}

img{
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

body{
    height: 100vh;
    background-color: hsla(266, 79%, 24%, 0.118);
    /*background-image: url('pictures/home_page_light.png');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: 100%;
}

a:hover{
    color: hsl(260, 81%, 52%);
}

header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 150%;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: black;
    font-size: 150%;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: hsl(261, 100%, 25%);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 80%;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color: white;
}

.action_btn{
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu{
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* HERO */
section#hero{
    padding: 5%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    color: hsla(0, 0%, 100%, 0.936);
}

#hero h1{
    font-size: 300%;
    margin-bottom: 1rem;
}

/* RESPONSIVE DESIGN */
@media(max-width : 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media(max-width : 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}